<!DOCTYPE html>
<html lang="en-us">
    <head>
        <!-- test comment -->
        <title>{{long-name}}</title>
        <style>
            /* mostly copied from: http://lasp.colorado.edu/lisird/tss/resources/tss.css */
            .das {
                white-space:pre; 
                font-family:monospace;
                /*background-color:#b0c4de;*/
            } 
            .dds {
                white-space:pre;
                font-family:monospace;
                /*background-color:#b0a4de;*/
            } 
            .info {
                white-space:pre;
                font-family:monospace;
                /*background-color:#b0a43e;*/
            }
            .form-item {
                margin: 15px 0;
            }
            #graphdiv {
                margin: 15px 0;
            }
            #graphdiv .loading {
            	display: block;
            	height: 320px;
            	line-height: 320px;
            	margin-left: 50px;
            }
            #graph-range-selector {
                margin: 15px;
                display: block;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>
        <script type="text/javascript">

            // polyfill of ES6 proposed String.endsWith function
            // info and code source at:
            // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith
            if (!String.prototype.endsWith) {
                Object.defineProperty(String.prototype, 'endsWith', {
                    value: function(searchString, position) {
                        var subjectString = this.toString();
                        if (position === undefined || position > subjectString.length) {
                            position = subjectString.length;
                        }
                        position -= searchString.length;
                        var lastIndex = subjectString.indexOf(searchString, position);
                        return lastIndex !== -1 && lastIndex === position;
                    }
                });
            }

            // handle the 'submit' event from our "Data Set Query Form" at the bottom
            // of the page. These parameters need to be serialized in a slightly different
            // format than your average "key=val&key2=val2" format, so we have to do this
            // manually
            function submitForm(e) {

                // Create submission url from current url. Create or modify suffix to .csv
                var newUrl = window.location.origin + window.location.pathname;
                newUrl = trimSuffix(newUrl, ".html");
                newUrl += "." + (document.getElementById("output").value || "csv");

                var queryForm = document.getElementById("query-form");
                var formItems = queryForm.getElementsByClassName("form-item");
                formItems = Array.prototype.slice.call(formItems); // hack to turn formItems into actual array, not "HTMLCollection" or w/e
                var query = formItems.map(serializeFormItem).filter(function(item) { return !!item; }).join("");
                if (query != "") {
                    newUrl += "?" + query;
                }

                window.location.href = newUrl;

                e.preventDefault();
                e.stopPropagation();
                return false;
            }

            // Given a string and a suffix, return a version of the
            // string with the suffix removed from the end. If the
            // string does not end with suffix, it is returned
            // unmodified.
            // 
            // Instances of the suffix occuring not at the end of
            // the string will be ignored.
            function trimSuffix(str, suffix) {
                if (str.endsWith(suffix)) {
                    return str.substring(0, str.length - suffix.length);
                }
                else {
                    return str;
                }
            }

            // Used by submitForm. Helper method to serialize a single
            // input.form-item.
            function serializeFormItem(formItem) {
                var name = formItem.getAttribute("data-name");
                var min = formItem.querySelector("input[name='min']").value;
                var max = formItem.querySelector("input[name='max']").value;

                var results = [];
                if (min != "") {
                    results.push("&" + name + ">=" + min);
                }
                if (max != "") {
                    results.push("&" + name + "<" + max);
                }
                return results.join("");
            }
            
            // Return a modified version of window.location.href where
            // the path ends with ".csv". The url will usually already
            // end with ".html" and have a query string, but be sure
            // to account for situations where either is missing
            function getCsvUrl() {
            	var path = window.location.pathname;
            	var pathChunks = path.split("/");
            	var lastChunk = pathChunks[pathChunks.length - 1];
            	var dotIndex = lastChunk.indexOf("."); 
            	var suffixLength = dotIndex > -1
            		? lastChunk.length - dotIndex
            		: 0;
            	var unsuffixedPath = path.substring(0, path.length - suffixLength);
            	
            	var csvPath = unsuffixedPath + ".csv";
            	var csvUrl = csvPath + window.location.search;
            	return csvUrl;
            }

            // Some constants used by updateGraph
            var globalGraphReference;
            var BASE_CSV_URL = getCsvUrl();
            
            // Given a string "range", reset #graphdiv to contain
            // a new chart with range as the range variable (y-axis)
            // Note: the domain variable (x-axis) will be hardcoded
            // into the function when this page is generated on the
            // server-side (it should never change)
            function updateGraph(range) {
            	var csvUrl = BASE_CSV_URL;
            	var urlChunks = csvUrl.split("?");
            	
            	// Make sure there are exactly 2 elements in urlChunks
            	switch (urlChunks.length) {
            		case 0:
            			throw "This should be impossible";
            			break;
            		case 1:
            			urlChunks.push(""); //empty query string
            			break;
            		case 2:
            			// do nothing
            			break;
            		default:
            			// > 2 chunks
            			throw "Too many '?' in url (" + csvUrl + ")";
            			break;
            	}
            	var beforeQuery = urlChunks[0];
            	var query = urlChunks[1];
            	
            	var projection = "{{domain}}," + range;
            	query = projection + query + "&exclude_missing()&limit(10000)";
            	
            	// recombine with modified query (added projection at front)
            	csvUrl = beforeQuery + "?" + query;
            	
            	$.ajax({
            		url: csvUrl
            	}).done(function (data, textStatus, jqXhr) {
            		var $graphdiv = $("#graphdiv");
            		$graphdiv.empty();
            		globalGraphReference = new Dygraph(
            			$graphdiv[0],
            			data,
            			{
                            delimiter: ",",
                            xlabel: "{{domain}}",
                            ylabel: range
                        }
            		)
            	});
            }


        </script>
    </head>

    <body>
        <h1>{{long-name}}</h1>
        <select id="graph-range-selector" onchange="javascript:return updateGraph(event.target.value);">
            {{range-select-option-elements}}
        </select>
        <div id="graphdiv"><em class="loading">Loading...</em></div>
        <script type="text/javascript">
        	if ({{graph-enabled}}) {
        		updateGraph("{{defaultRange}}");
        	}
        	else {
        		$("#graphdiv, #graph-range-selector").remove();
        	}
        </script>
        <div class="dds"><h2>Dataset Descriptor Structure</h2><blockquote>{{dds}}</blockquote></div>
        <div class="das"><h2>Dataset Attribute Structure</h2><blockquote>{{das}}</blockquote></div>
        <h2>Data Set Query Form</h2>
        <form id="query-form" onsubmit="javascript:return submitForm(event)">
            {{form-items}}
            Select Output Type:
            <select id="output">
                {{output-select-option-elements}}
            </select><br />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>